html { 
position: relative;
}
  
body {
    margin: 0;
    padding: 0;
}
  
header {
    border-bottom: 5px solid #cccccc;
    border-bottom-width: 100%;
    background-color: #ffffff;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 0px;
}
/* 
.header_name {
    background-color: #4aaaa5;
    color: #ffffff;
    display: block;
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 60px;
    line-height:2px;
    margin-left:238px;
    overflow: hidden;
    padding: 1em;
    position: relative;
    text-align: center;
    width: 270px;

} */

.header_nav {
    overflow: hidden;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    padding: 14px 16px;
}

h1 {
    background-color: #4aaaa5;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: #ffffff;
    float: left;
    text-align: center;
    width: 260px;
    margin: 20px 0px 0px 160px;
    
}

ul {
    float: right;
    margin-right: 160px;
}

h2 {
    border-bottom: 2px solid #cccccc;
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.content {
    width: 960px;
    background: #ffffff;
    border: 1px solid #dddddd;
    margin: 0 auto;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

footer {
    background-color: #666666;
}

.image1 {
    width: 200px;
    height: 200px;
    position: relative;
    background-image: url(http://lorempixel.com/400/200);
}

#rpg {
    position: absolute;
    bottom: 5px;
    width: 100%;
    bottom: 10px;
    text-align: center;
}

.FloatingTextOverImage {
    position: absolute;
    margin-bottom: 100px;
}

footer {
    background-color: #666;
    height:25px;
    position: absolute;
    margin-bottom: 0;
}